body {
	margin: 0;
	background-color: hsl(120, 30%, 50%);
	font-family: "Staatliches", cursive;
}

.header {
	height: 80px;
	background-color: hsl(120, 50%, 25%);
	font-size: 50px;
	text-align: center;
	color: white;
	position: relative;
}

.hide {
	display: none;
}

.container {
	max-width: 760px;
	height: calc(100vh - 80px);
	margin: 0 auto;
}

.header span {
	width: fit-content;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.main {
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* tomato */
#greenTomato {
	width: 60%;
	height: 60%;
	margin: auto;
}

.cls-1 {
	fill: hsl(120, 80%, 50%);
	/* stroke: #910202;
    stroke-width: 0px; */
	transition: fill linear 1s;
}
.cls-1,
.cls-2 {
	stroke-miterlimit: 10;
}
.cls-2 {
	fill: #203800;
	stroke: #203800;
	stroke-width: 7px;
}
.cls-3 {
	fill: #203800;
}

.time {
	margin: 25px 0;
	font-size: 50px;
	color: white;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.manuallyInput {
	font-family: inherit;
	font-size: 50px;
	color: white;
	text-align: center;
	background: transparent;
	border: none;
}

.manuallyInput:focus {
	outline: none;
}

.button {
	flex: auto;
	margin: 5px;
	padding: 10px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.active {
	background-color: rgba(0, 0, 0, 0.6);
}

#start,
#stop {
	width: 100%;
}

@media screen and (max-width: 760px) {
	.container {
		padding: 5px;
	}
}
